*{
    margin: 0;
    padding: 0;
}
.button{
    height: 4rem;
    width: 4rem;
    font-size: 1rem;
    margin: 3px;
    border-radius: 50%;
    font-weight: bold;
    border: 1px solid black;
    box-shadow: 3px 3px 3px black;
    background-color: aliceblue;
    cursor: pointer;
}

button:active{
    border: 3px solid black;
}
.Container{
    background-color: rgba(72, 71, 71, 0.759);   
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 320px;
    height: 450px;
    border:10px solid rgba(0, 0, 0, 0.199) ;
    box-shadow: 10px 10px 10px black;
}

h1{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.input{
    width: 285px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50px;
    margin-bottom: 8px;
    font-size: 30px;
    font-weight: bolder;
    box-shadow: 3px 3px 3px black;
    background-color: aliceblue;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.unic-text{
    background-color: bisque;
}

.ac{
    color: rgb(71, 37, 222);
    background-color: orange;
}

.mode{
    height: 40px;
    width: 120px;
    color: black;
    background-color: white;
    font-size: 1rem;
    font-weight: bolder;
    border: 2px solid red;
    border-radius: 1rem;
    box-shadow: 3px 3px 3px black;
    margin-top: 20px;
    margin-left: 5px;
}
.mode:hover{
    border: 2px solid blue;
    cursor: pointer;
}