@media (width <= 1350px) {
    .section-hero .container{
        padding-bottom: 8rem;
    }
}


@media (width <= 1200px) {
  html{
    font-size: 85%;
  }

  .section-hero .container{
    padding-bottom: 8rem;
  }

  .main-section-contact .grid-two--cols{
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column;
        justify-content: center;
      
        & .contact-us{
            width: 80%;
        }

        & .grid{
            gap: 2rem;
            align-items: center;
        }
    }

    .container .location {
        width: 80%;
    
    & iframe {
            width: 100%;
        }
}
}


@media (width <= 1100px) {
    .section-hero{
        height: auto;

        & .container{
            padding: 0 4.5rem 8rem 4.5rem;
        }

        & .grid{
            gap: 2rem;
        }


        & .grid-two-cols{
            grid-template-columns: 1fr;
        }

        & .hero-img {
        display: flex;
        align-items: center;
        justify-content: center;
        order: 1;
        }
        
        & img{
            width: 60%;
        }

        & .hero-content{
            width: 80%;
            order: 2;
        }

        & .custom-shape-divider-bottom-1759850594 svg {
            height: 100px; 
        }
    }

    .section-about{

        & .grid{
            gap: 2rem;
            padding: 4.5rem 2rem 4.5rem 2rem;
        }
    }

    .section-services,.section-blog{
    .grid-four-cols{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}
}


@media (width <= 1000px) {
    .section-contact{

        & .grid-two-cols{
            grid-template-columns: 1fr;
            padding: 2rem;
            gap: 1rem;

            & .contact-image{
                display: flex;
                justify-content: center;
                align-items: center;
                order: 1;
            
            & img{
                width: 60%;
            }
        }

        & .contact-main{
            order: 2;
        }
    }
}

.section-footer{
    & .grid-four-cols{
        grid-template-columns: repeat(2, 1fr);
    }
}
}


@media (width <= 900px) {
    html{
        font-size: 80%;
    }

.section-about{

    & .grid-three-cols{
    grid-template-columns: 1fr;
}
}

.section-navbar{

    & .container{
      flex-direction: column;


        & .nav-link ul{
            padding: 1rem;
            gap: 4rem;

            & a{
                font-size: 1.1rem;
                font-weight: 500;
            }
        }
        }

        & .nav-logo{

            & a{
                display: flex;
                justify-content: center;
                align-items: center;

                & img{
                    width: 60%;
                }
            }
        }
    }

.images{
    width: 20%;
}

 .section-hero .custom-shape-divider-bottom-1759850594 svg {
        height: 75px; 
}
}


@media (width <= 700px) {
     .container{
        padding: 4.5rem 2rem 4.5rem 2rem;
     }
}


@media (width <= 550px) {
    html{
        font-size: 65%;
    }

   .section-navbar .container .nav-logo a img{
    width: 50%;
   }

   .section-hero .custom-shape-divider-bottom-1759850594 svg {
        height: 60px; 
}

.section-hero .container{
        padding: 0 4.5rem 6rem 4.5rem;
    }
}


@media (width <= 420px) {
   .section-navbar{
     
    & .container{
        padding: 0 0rem;
    
    
    & .nav-link ul{
        gap: 2rem;
    }
   }
}
}


@media (width <= 380px) {
    html{
        font-size: 55%;
    }

    .section-hero .custom-shape-divider-bottom-1759850594 svg {
            height: 45px; 
}

.section-hero .container{
            padding: 0 4.5rem 6rem 4.5rem;
        }
}