*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    color: white;
    font-size: 1rem;
}

.main-page{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right top, red,yellow);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btns{
    display: flex;
    gap: 4rem;
    justify-content: space-between; 
    margin: 1.5rem;
}

.btn{
    padding: .8rem 2.5rem;
    border-radius: 2rem;
    border: none;
    font-size: 1rem;
    background-color: black;
    color: white;
    box-shadow: 2px 2px 5px black;
    cursor: pointer;
}

p{
    display: flex;
    justify-content: center;
    margin: 1.5rem;
}

.msg-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    margin: 1.5rem;
    padding: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-left: 3px solid white;
    border-radius: .5rem;
    cursor: pointer;
}

.pera{
    display: flex;
    justify-content: center;
    align-items: center;
}